body {
  background: #e8e8e8;
  font-family: 'AvenirNextLTW01-Regular', Arial, 'AxisStd-Light', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.l_wrapper {
}
header {
  width: 100%;
  padding: 50px;
  text-align: center;
  background: #fff;
}
section {
  width: 600px;
  margin: 50px auto;
  padding: 50px;
  background: #fff;
}
