* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background: #c8c8c8;*/
}
.l_wrapper {
  padding-left: 20%;
  transition: padding .5s .01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 50px;
  transition: width .5s .01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header_first {
  padding-left: 70%;
}
.header_first header {
  width: 70%;
}
nav {
  width: 100%;
  background: #fff;
}
h1 {
  font-size: 200%;
  transition: font-size .5s .01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header_first h1 {
  font-size: 2000%;
}
section {
  /*float: left;*/
  width: 100%;
  /*padding-left: 60%;*/
  box-sizing: border-box;
  transition: width .5s .01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.content {
  width: 100%;
}
.content img {
  width: 100%;
  vertical-align: top;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.content img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.icon_box {
  /*position: absolute;*/
  /*top: 300px;*/
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.icon_box {
	-webkit-animation-name:icon_box; /* fuwafuwaっていうアニメーションをしてね！ */
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwafuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
@-webkit-keyframes icon_box {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, 100px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes icon_box {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, 100px);}
	100% {-moz-transform:translate(0, 0);}
}

.font_large {
  font-size: 300%;
  transition: width .5s .01s cubic-bezier(0.19, 1, 0.22, 1);
}
.header_first .font_large {
  font-size: 1600%;
}
