body {
  font-family: 'AvenirNextLTW01-Regular', Arial, 'AxisStd-Light', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.l_wrapper {
}
header {
  visibility: hidden;
}
.hero {
  width: 100%;
}
h1 {
  font-size: 500%;
  font-family: 'Amatic SC', cursive, 'AvenirNextLTW01-Regular', Arial, 'AxisStd-Light', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #fff;
  text-align: center;
}
.hero_mv {
  position: fixed;
  /*top: 0;*/
  bottom: 0;
  right: 0;
  /*left: 0;*/
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.l_content {
  width: 100%;
  padding: 50px 0;
  background: #fafafa;
}
.l_inner {
  width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}
h2 {
  margin-bottom: 0;
  font-size: 400%;
  font-family: 'Amatic SC', cursive, 'AvenirNextLTW01-Regular', Arial, 'AxisStd-Light', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  text-align: center;
}
.sub_ttl {
  display: block;
  margin-bottom: 40px;
  font-family: 'Amatic SC', cursive, 'AvenirNextLTW01-Regular', Arial, 'AxisStd-Light', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  text-align: center;
}
.left_box {
  float: left;
  width: 700px;
  padding: 0 30px;
  background: #fff;
}
.post_list {
  display: table;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #ded9d9;
}
.thumb {
  display: table-cell;
  width: 200px;
  vertical-align: top;
}
.list_txt_box {
  width: 500px;
  display: table-cell;
  padding: 0 0 0 20px;
  vertical-align: top;
  word-break: break-all;
  word-wrap: break-word;
}
.list_txt_box h4 {
  margin: 10px 0;
  font-weight: 100;
  line-height: 1.5;
}
.list_txt_box p {
  font-size: 62%;
}

.right_box {
  float: right;
  width: 300px;
}
.pr_box {
  margin-bottom: 20px;
}
.side_nav {
  padding: 10px 20px;
  background: #fff;
}
.rank_list {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ded9d9;
}
.thumb_rank {
  display: block;
  height: 100px;
  overflow: hidden;
}
.thumb_rank span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  background: #f2c34a;
  border-radius: 50%;
  line-height: 30px;
}
.rank_list h4 {
  margin: 10px 0;
  font-size: 80%;
  font-weight: 100;
  line-height: 1.5;
}

footer {
  width: 100%;
  height: 500px;
  color: #fff;
  padding-top: 70px;
  text-align: center;
  background: #555;
}
